
#  Basic Math and Calculus Review

We will kick off the first chapter covering:
- What numbers are and how variables and functions work on a Cartesian system
- Exponents and logarithms
- Learn the two basic operations of calculus: derivatives and integrals.

## Number Theory

- *Natural numbers* 1, 2, 3, 4, 5
- *Whole numbres* Adding to natural numbers, the concept of “0” 
- *Integers* Whole positive and negative numners
- *Rational numbers* Any number that you can express as a fraction, such as 2/3
- *Irrational numbers* This includes the famous PI, square roots of certain numbers like Euler’s number 
- *Real numbers* include rational as well as irrational numbers
- *Complex and imaginary numbers*  type when you take the square root of a negative number

## Order of Operations

$$
2 \times \frac{(3+2)^2}{5} - 4
$$

**Example 1-1. Solving an expression in Python**

In [8]:
my_value = 2 * (3+2)**2 / 5 -4
my_value

6.0

It is a good practice to liberally use parentheses in complex expressions so you establish control of the evaluation order.

**Example 1-2. Making use of parentheses for clarity in Python**

In [9]:
my_value = 2 *((3+2)**2 /5) -4
my_value

6.0

## Variables
A variable is a named placeholder for an unspecified or unknown number.

**Example 1-3. A variable in Python that is then multiplied**

In [10]:
x = int(input("Please input a number\n"))
product = 3 * x
product

Please input a number
 2

6

- we use theta $\theta$ to denote angles and
-  $\beta$ for a parameter in a linear regression

**Example 1-4. Greek variable names in Python**

In [12]:
beta = 1.75
theta = 30.0

If you encounter variables x1, x2, and x3, just treat them as three separate variables as shown in Example 1-5.

**Example 1-5. Expressing subscripted variables in Python**

In [13]:
x1 = 3  # or x_1 = 3
x2 = 10 # or x_2 = 10
x3 = 44 # or x_3 = 44

## Functions