In [1]:
#import sys
#print(sys.executable)
#print(sys.version)

In [2]:
import pandas as pd
import numpy as np

In [3]:
print(pd.__version__)

2.2.3

In [4]:
download_url="https://github.com/fivethirtyeight/data/blob/master/nba-elo/nbaallelo.csv"

In [5]:
import requests

In [6]:
response = requests.get(download_url)

In [7]:
print(response.status_code)

200

In [8]:
with open ('nba_all_elo.csv', 'wb') as f:
    f.write(response.content)

In [9]:
!ls

RP_Explore_Your_Dataset_With_pandas.ipynb
data_sets
jupyter_done
nba_all_elo.csv

In [10]:
import pandas as pd

In [11]:
nba = pd.read_csv('data_sets/nbaallelo.csv')

In [12]:
type(nba)

pandas.core.frame.DataFrame

In [13]:
len(nba)

126314

In [14]:
nba.shape

(126314, 23)

In [15]:
nba.head(10)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,...,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN
6,4,194611020PRO,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,...,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,...,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
8,5,194611020STB,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,...,40.507980,STB,Bombers,56,1300.0000,1304.6908,A,L,0.359935,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,...,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN

In [16]:
pd.set_option('display.max.columns',None)
pd.set_option('display.precision',2)

In [17]:
nba.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

# Getting to Know DataFrame Objects

In [18]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [19]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [20]:
nba['team_id'].value_counts()

team_id
BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: count, Length: 104, dtype: int64

In [21]:
nba['fran_id'].value_counts()

fran_id
Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Falcons           60
Jets              60
Ironmen           60
Huskies           60
Name: count, dtype: int64

In [22]:
nba.loc[nba['fran_id'] == 'Lakers']

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1136,569,194811040BLB,NBA,1,1949,11/4/1948,1,0,MNL,Lakers,84,1527.00,1542.25,51.22,BLB,Baltimore,72,1507.21,1491.95,A,W,0.39,NaN
1152,577,194811060WSC,NBA,1,1949,11/6/1948,2,0,MNL,Lakers,62,1542.25,1536.21,50.62,WSC,Capitols,67,1481.87,1487.92,A,L,0.44,NaN
1159,580,194811090BOS,NBA,1,1949,11/9/1948,3,0,MNL,Lakers,55,1536.21,1513.49,48.34,BOS,Celtics,77,1359.33,1382.05,A,L,0.61,NaN
1170,586,194811110NYK,NBA,1,1949,11/11/1948,4,0,MNL,Lakers,77,1513.49,1524.96,49.50,NYK,Knicks,68,1460.42,1448.95,A,W,0.43,NaN
1183,592,194811130PRO,NBA,1,1949,11/13/1948,5,0,MNL,Lakers,90,1524.96,1533.27,50.33,PRO,Steamrollers,67,1245.95,1237.63,A,W,0.74,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126016,63009,201504080DEN,NBA,1,2015,4/8/2015,78,0,LAL,Lakers,101,1313.78,1307.51,21.92,DEN,Nuggets,119,1415.06,1421.32,A,L,0.24,NaN
126052,63027,201504100LAL,NBA,0,2015,4/10/2015,79,0,LAL,Lakers,106,1307.51,1312.95,22.37,MIN,Timberwolves,98,1283.92,1278.48,H,W,0.67,NaN
126086,63044,201504120LAL,NBA,0,2015,4/12/2015,80,0,LAL,Lakers,106,1312.95,1305.92,21.79,DAL,Mavericks,120,1556.22,1563.25,H,L,0.30,NaN
126115,63058,201504130SAC,NBA,1,2015,4/13/2015,81,0,LAL,Lakers,92,1305.92,1301.39,21.42,SAC,Kings,102,1395.60,1400.13,A,L,0.25,NaN
126137,63069,201504150LAL,NBA,0,2015,4/15/2015,82,0,LAL,Lakers,99,1301.39,1283.24,19.99,SAC,Kings,122,1400.13,1418.28,H,L,0.50,NaN

In [23]:
nba.loc[nba['fran_id'] == 'Lakers', 'team_id']

1136      MNL
1152      MNL
1159      MNL
1170      MNL
1183      MNL
         ...
126016    LAL
126052    LAL
126086    LAL
126115    LAL
126137    LAL
Name: team_id, Length: 6024, dtype: object

In [24]:
nba.loc[nba['fran_id'] == 'Lakers', 'team_id'].value_counts()

team_id
LAL    5078
MNL     946
Name: count, dtype: int64

In [25]:
nba.loc[nba['team_id'] =='MNL', 'date_game']

1136     11/4/1948
1152     11/6/1948
1159     11/9/1948
1170    11/11/1948
1183    11/13/1948
           ...
9701     3/19/1960
9702     3/20/1960
9709     3/22/1960
9711     3/24/1960
9715     3/26/1960
Name: date_game, Length: 946, dtype: object

In [26]:
nba.loc[nba['team_id'] =='MNL', 'date_game'].max()

'4/9/1959'

In [27]:
nba['date_played'] = pd.to_datetime(nba['date_game'])

In [28]:
nba.loc[nba['team_id']== 'MNL', 'date_played'].max()

Timestamp('1960-03-26 00:00:00')

In [29]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
 23  date_played    126314 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(7), object(10)
memory usage: 23.1+ MB

In [30]:
total_bos_points = nba.loc[nba['team_id'] == 'BOS', 'pts'].sum()
total_bos_points

np.int64(626484)

In [31]:
years_bos_played = len(nba.loc[nba['team_id']=='BOS', 'date_played'].apply(lambda v: v.year).unique())
years_bos_played

70

In [32]:
round(total_bos_points / years_bos_played, 2)

np.float64(8949.77)

In [33]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN,1946-11-01
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN,1946-11-01
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN,1946-11-02
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN,1946-11-02
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN,1946-11-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN,2015-06-11
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN,2015-06-14
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN,2015-06-14
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN,2015-06-16
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN,2015-06-16

In [34]:
nba.axes[1]

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes',
       'date_played'],
      dtype='object')

In [35]:
'points' in nba.axes[1]

False

In [36]:
'pts' in nba.axes[1]

True

In [37]:
'pts' in nba.columns

True

# Exploring DataFrame and Series Objects

In [38]:
revenues = pd.Series([5000, 7000,1980])

In [39]:
revenues.values

array([5000, 7000, 1980])

In [40]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

In [41]:
city_revenues = pd.Series([4200, 8000, 6500], index=['Amsterdam', 'Toronto', 'Tokyio'])

In [42]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyio       6500
dtype: int64

In [43]:
array_1 = np.array([1, 2, 3, 4])
array_1

array([1, 2, 3, 4])

In [44]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyio       6500
dtype: int64

In [45]:
city_rev_dic = {"Amsterdam":4200,
               "Toronto": 5000, 
               "Madrid": 6000}

In [46]:
city_rev_dic

{'Amsterdam': 4200, 'Toronto': 5000, 'Madrid': 6000}

In [47]:
city_rev_dic

{'Amsterdam': 4200, 'Toronto': 5000, 'Madrid': 6000}

In [48]:
city_rev_dic["Amsterdam"]

4200

In [49]:
city_revenues["Amsterdam"]

np.int64(4200)

In [50]:
count= {"Amsterdam":5, "Toronto":9}

In [51]:
#monto un dataframe con series que tienen el mismo indice (las ciudades)
city_data = pd.DataFrame({"revenue": city_revenues, "count":count})

In [52]:
city_data

           revenue  count
Amsterdam     4200    5.0
Tokyio        6500    NaN
Toronto       8000    9.0

In [53]:
city_revenues.keys()

Index(['Amsterdam', 'Toronto', 'Tokyio'], dtype='object')

In [54]:
city_rev_dic.keys()

dict_keys(['Amsterdam', 'Toronto', 'Madrid'])

In [55]:
city_data.axes[1]

Index(['revenue', 'count'], dtype='object')

In [56]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyio       6500
dtype: int64

In [57]:
city_revenues[1]

/var/folders/42/tg009yd16fd7lk4bbyt3hzth0000gn/T/ipykernel_2965/3958202293.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  city_revenues[1]

np.int64(8000)

In [58]:
city_revenues["Toronto"]

np.int64(8000)

In [59]:
city_revenues.keys()

Index(['Amsterdam', 'Toronto', 'Tokyio'], dtype='object')

In [60]:
city_revenues.values

array([4200, 8000, 6500])

In [61]:
revenues[1]

np.int64(7000)

In [62]:
for k, v in enumerate(revenues):
    print(v)

5000
7000
1980

In [63]:
for k, v in revenues.items():
    print(v)

5000
7000
1980

In [64]:
print(revenues[2])

1980

In [65]:
city_revenues['Toronto']

np.int64(8000)

In [66]:
revenues.get(1, "none")

np.int64(7000)

In [67]:
revenues.get(30, "none")

'none'

In [68]:
colors = pd.Series(
['red', 'yellow', 'blue' , 'green'],
    index=[1, 2, 3, 4]   
)

In [69]:
colors

1       red
2    yellow
3      blue
4     green
dtype: object

In [70]:
colors[2]

'yellow'

In [71]:
colors[1]

'red'

In [72]:
colors.values

array(['red', 'yellow', 'blue', 'green'], dtype=object)

In [73]:
colors.loc[1]

'red'

In [74]:
colors.iloc[1]

'yellow'

In [75]:
colors.iloc[1:2]

2    yellow
dtype: object

In [76]:
colors.iloc[1:3]

2    yellow
3      blue
dtype: object

## Accesing Data in a DataFrame

In [77]:
city_data.iloc[1]

revenue    6500.0
count         NaN
Name: Tokyio, dtype: float64

In [78]:
city_data.loc['Tokyo':'Toronto']

         revenue  count
Toronto     8000    9.0

In [79]:
nba.iloc[-2]

gameorder                      63157
game_id                 201506170CLE
lg_id                            NBA
_iscopy                            0
year_id                         2015
date_game                  6/16/2015
seasongame                       102
is_playoffs                        1
team_id                          CLE
fran_id                    Cavaliers
pts                               97
elo_i                        1700.74
elo_n                        1692.09
win_equiv                      59.29
opp_id                           GSW
opp_fran                    Warriors
opp_pts                          105
opp_elo_i                    1813.63
opp_elo_n                    1822.29
game_location                      H
game_result                        L
forecast                        0.48
notes                            NaN
date_played      2015-06-16 00:00:00
Name: 126312, dtype: object

In [83]:
nba.loc[2:20,["fran_id", "opp_fran"]]

         fran_id      opp_fran
2          Stags        Knicks
3         Knicks         Stags
4        Falcons      Capitols
5       Capitols       Falcons
6        Celtics  Steamrollers
7   Steamrollers       Celtics
8        Ironmen       Bombers
9        Bombers       Ironmen
10       Huskies        Rebels
11        Rebels       Huskies
12       Ironmen      Capitols
13      Capitols       Ironmen
14       Celtics         Stags
15         Stags       Celtics
16       Bombers       Falcons
17       Falcons       Bombers
18       Ironmen      Warriors
19      Warriors       Ironmen
20  Steamrollers         Stags

## Querying Your Dataset

In [85]:
current_decade = nba[nba['year_id'] > 2010]
current_decade.shape

(12658, 24)

In [86]:
nba['year_id'] > 2010

0         False
1         False
2         False
3         False
4         False
          ...
126309     True
126310     True
126311     True
126312     True
126313     True
Name: year_id, Length: 126314, dtype: bool

In [87]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
 23  date_played    126314 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(7), object(10)
memory usage: 23.1+ MB

In [94]:
nba.loc[nba.notes.notnull(),['notes', 'gameorder']]

                                            notes  gameorder
930          at Baltimore's Fifth Regiment Armory        466
931          at Baltimore's Fifth Regiment Armory        466
1084                                   Tiebreaker        543
1085                                   Tiebreaker        543
1088                                   Tiebreaker        545
...                                           ...        ...
122207                         at London, England      61104
123916  at Mexico City Arena, Mexico City, Mexico      61959
123917  at Mexico City Arena, Mexico City, Mexico      61959
124862                 at The O2, London, England      62432
124863                 at The O2, London, England      62432

[5424 rows x 2 columns]

In [98]:
ers_teams = nba.loc[nba['fran_id'].str.endswith('ers'),["fran_id"]]
ers_teams

             fran_id
7       Steamrollers
9            Bombers
16           Bombers
20      Steamrollers
22           Bombers
...              ...
126304     Cavaliers
126307     Cavaliers
126309     Cavaliers
126311     Cavaliers
126312     Cavaliers

[27797 rows x 1 columns]

## Grouping and Aggregating Your Data

In [100]:
city_revenues.max()

np.int64(8000)

In [102]:
nba['pts'].sum()

np.int64(12976235)

In [126]:
nba.groupby('fran_id', sort=False, as_index=False).agg(puntos=('pts', 'sum'),elo=('opp_elo_i', 'count'))

         fran_id  puntos   elo
0        Huskies    3995    60
1         Knicks  582497  5769
2          Stags   20398   260
3        Falcons    3797    60
4       Capitols   22387   291
5        Celtics  626484  5997
6   Steamrollers   12372   168
7        Ironmen    3674    60
8        Bombers   17793   249
9         Rebels    4474    63
10      Warriors  591224  5657
11     Baltimore   37219   467
12          Jets    4482    60
13       Pistons  572758  5650
14        Lakers  637444  6024
15         Kings  569245  5475
16         Hawks  567261  5572
17        Denver    4818    62
18     Olympians   22864   282
19      Redskins    5372    65
20      Waterloo    4921    62
21       Packers    6193    72
22        Sixers  585891  5644
23       Wizards  474809  4582
24         Bulls  437269  4307
25       Thunder  437735  4178
26       Squires   91127   799
27         Stars   84940   756
28       Rockets  432504  4154
29      Colonels   94435   846
30        Pacers  438288  4227
31       Nuggets  445780  4120
32         Spurs  453822  4309
33       Spirits   85874   777
34        Sounds   75582   697
35    Floridians   49568   440
36          Nets  417809  4106
37       Condors   49642   430
38         Bucks  418326  4034
39          Suns  437486  4080
40      Clippers  380523  3733
41     Cavaliers  380416  3810
42  Trailblazers  402695  3870
43         Sails   30080   274
44          Jazz  363155  3555
45     Mavericks  309239  3013
46      Pelicans  220794  2254
47          Heat  229103  2371
48  Timberwolves  207693  2131
49         Magic  219436  2207
50     Grizzlies  157683  1657
51       Raptors  158370  1634
52       Hornets   84489   894

In [129]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN,1946-11-01
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN,1946-11-01
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN,1946-11-02
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN,1946-11-02
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN,1946-11-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN,2015-06-11
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN,2015-06-14
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN,2015-06-14
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN,2015-06-16
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN,2015-06-16

In [145]:
nba[
(nba['fran_id'] == 'Warriors') &
(nba['year_id'] == 2015)
].groupby(['is_playoffs', 'game_result'], as_index=False).agg(Current_year=('game_id', 'count'))

   is_playoffs game_result  Current_year
0            0           L            15
1            0           W            67
2            1           L             5
3            1           W            16

## Changing Columns in a DataFrame

In [146]:
nba_copy = nba.copy