In [6]:
#import sys
#print(sys.executable)
#print(sys.version)

In [7]:
import pandas as pd

In [8]:
print(pd.__version__)

2.2.3

In [9]:
download_url="https://github.com/fivethirtyeight/data/blob/master/nba-elo/nbaallelo.csv"

In [10]:
import requests

In [11]:
response = requests.get(download_url)

In [13]:
print(response.status_code)

200

In [14]:
with open ('nba_all_elo.csv', 'wb') as f:
    f.write(response.content)

In [17]:
!ls

RP_Explore_Your_Dataset_With_pandas.ipynb
data_sets
jupyter_done
nba_all_elo.csv

In [18]:
import pandas as pd

In [23]:
nba = pd.read_csv('data_sets/nbaallelo.csv')

In [24]:
type(nba)

pandas.core.frame.DataFrame

In [25]:
len(nba)

126314

In [27]:
nba.shape

(126314, 23)

In [28]:
nba.head(10)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,...,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN
6,4,194611020PRO,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,...,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,...,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
8,5,194611020STB,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,...,40.507980,STB,Bombers,56,1300.0000,1304.6908,A,L,0.359935,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,...,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN

In [29]:
pd.set_option('display.max.columns' None)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (791075759.py, line 1)